#Adobe Granite License Properties
license.product.name={{ aem_license_product_name }}
license.customer.name={{ aem_license_customer_name }}
license.product.version={{ aem_license_product_version }}
license.downloadID={{ aem_license_downloadID }}