[Service]
Environment="CQ_PORT={{ aem_port }}"
Environment="CQ_RUNMODE={{ aem_runmode }}"
Environment="CQ_JVM_OPTS=-server -Xmx1024m -XX:MaxPermSize=256M -Djava.awt.headless=true"

{# Environment="CQ_HOST="
Environment="CQ_JARFILE=''"
Environment="CQ_FILE_SIZE_LIMIT=8192"
Environment="CQ_USE_JAAS='true'""
Environment="CQ_JAAS_CONFIG='etc/jaas.config'"
Environment="CQ_MONGO_HOST=127.0.0.1"
Environment="CQ_MONGO_PORT=27017"
Environment="CQ_MONGO_DB=aem6" #}
